@tailwind base;
@tailwind components;

.bg-gradient {
    @apply bg-gradient-to-br from-gray-900 via-green-900 to-emerald-900;
}

.logo-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-green-300 via-emerald-500 to-teal-500;
}

.button-gradient2 {
    @apply bg-gradient-to-br from-green-400 to-emerald-900 px-4 py-2 rounded-lg font-semibold hover:scale-105 transition-all duration-300 ease-in-out text-white w-fit;
}

.button-gradient1 {
    @apply bg-gradient-to-r from-teal-500 via-emerald-500 to-teal-500 text-center rounded-lg transition-all duration-500 ease-in-out text-white;
    background-size: 200% auto;
}

.button-gradient1:hover {
    background-position: right center;
}

@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: rgb(5, 46, 22);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
}



@media screen and (min-width:1440px) {
    html {
        font-size: 130%;
    }
}

@media screen and (max-width:1080px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width:640px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width:400px) {
    html {
        font-size: 70%;
    }
}

/* Loader */
/* From Uiverse.io by jeremyssocial */
@keyframes blinkCursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typeAndDelete {

    0%,
    10% {
        width: 0;
    }

    45%,
    55% {
        width: 6.2em;
    }

    /* adjust width based on content */
    90%,
    100% {
        width: 0;
    }
}

.terminal-loader {
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    padding: 1.5em 1em;
    width: 15em;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
}

.terminal-controls {
    float: right;
}

.control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
}

.control.close {
    background-color: #e33;
}

.control.minimize {
    background-color: #ee0;
}

.control.maximize {
    background-color: #0b0;
}

.terminal-title {
    float: left;
    line-height: 1.5em;
    color: #eee;
}

.text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.25em;
    border-right: 0.2em solid green;
    /* Cursor */
    animation: typeAndDelete 4s steps(11) infinite,
        blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
}